h1 {
  color:green;
  font-size: 50px;
  font-style: italic;;
  left: 500px;
}

h2 {
  color: blue;
  font-size: 30px;
}

p {
  color: grey;
}

body {
  background-color: grey;
}

/* I like the idea but this makes the image looked all stretched */
img {
  width: 100%;
}


.header-container{
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0px;
}

.header {
  display: inline-block;
  height: 50px;
  margin: 0px auto;
}

.main-page {
  margin-top: 100px;
}

.website-footer{
  background-color: black;
}

.parallax-background {
  background-color: black;
  color: grey;
}

.parallax {
  /* The image used */
  /*background-image: url("assets/HudsonValleyLandscape.jpg");*/

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: none}
a:active { color: #000000; text-decoration: none}
