h1 {
  color:white;
  font-size: 4vw;
  font-style: italic;
}

h2 {
  color: white;
  font-size: 2vw;
}

img {
  width: 100%;
  z-index: -1;
}

section * {
  color: white;
  height: auto;
}

/* remove some weird default styling on the body so there is no margin*/
/* make the body a flex container so all immediate children are flex items (header and section)*/
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-content: center;*/
}

a {
  text-decoration: none;
}

/* make main parent of nav items a flex container*/
/* vertically align to the center all items of the continaer*/
/* horizontally align the items such that all the extra space is between the items*/
/* make the width 90% of the view window so that there is an automatic margin*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

/* make main parent of the nav container a flex container (this makes the nav container a flex item)*/
/* center align the flex item (there is only one item)*/
/* apply a shadow to the header but its only visible at the bottom because everything else is touching the view window edge*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #58586F;
}

/* make main parent of nav navigration bar items a flex container*/
/* horizontally align the immediate children such that all the extra space is distributed evenly around the items*/
header nav .navigation-bar {
  display: flex;
  justify-content: space-around;
}

/* for each child item, add 2em of padding to the right*/
header nav .navigation-bar div{
  margin-right: 2em;
}

#background {
  /* make element not respond to order of dom by having the position be absolute at 0,0 with a height & width the size of the screen*/
  position: absolute;
  top: 21vh;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  background-image: url("assets/Earthlights.jpg");
  background-size: 100vw 100vh;
  z-index: -1;
}

body section {
  margin-top: 2vw;
  margin-bottom: 50px;
  /* resize width as viewport changes but keep height constant*/
  width: 95vw;
  /* not sure if I want to keep height constant */
  min-height: 12vh;
  background-color: #58586F;
  /* create smooth edges and a nice shadow*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  /* center all immediate children*/
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.flexcontainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

/*
.left-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30vw;
  margin-left: 2em;
}

.right-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30vw;
  margin-right: 5em;
}*/


.text-overlap {
  position: absolute;
  z-index: 1;
}

.white-text {
  color: white;
}

/* attempt to provide a temporary cover for the project block */
.project-cover {
  border: 1px solid #333;
  /* doesnt produce the desired effect
  background: black;
  z-index: 1;
  */
}

.project-cover:hover {
  border: 1px solid #FF0000;
}

footer {
  position:fixed;
  height: 10vh;
  width: 100%;
  background-color:red;
  bottom:0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #58586F;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom:10px;
}


a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: none}
a:active { color: #000000; text-decoration: none}
