@import url(https://fonts.googleapis.com/css?family=Nosifer);


p {
  font-family: 'Nosifer', serif;
  color: black;
  position: relative;
  left: 15px;
}

h1 {
  font-family: 'Nosifer', serif;
  font-size: 23px;
}

ol {
  color: red;
}

body {
  color: red;
  font-family: 'Nosifer', serif;
  background-image: url('../images/USA.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: grey;
}


canvas{
  border: 1px solid blue;
  position: relative;
  z-index: 1;
}

button {
  border: 1px solid red;
  background-color: grey;
  position: relative;
  top:30px;
  left:30px;
  bottom:30px;
  width: auto;
  height: 30px;
}

input{
  color: black;
  border: 1px solid red;
  background-color: grey;
  position: relative;
  top: 30px;
  left:30px;
  bottom:30px;
  width: auto;
  height: 30px;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;
}

.left-area {
  justify-content: space-around;
  align-content: flex-start;
  left: 10px;
}

.top-left {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.bottom-left {
  align-self: center;
}

.right-area {
  justify-content: space-around;
  align-content: center;
  right: 10px;
}

.outline{
  color: red;
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.background{
  background-color: grey;
}

.link-container a:hover {
    background: #f8f8f8;
}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: none}
a:active { color: #000000; text-decoration: none}
